*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    height: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
header{
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 40px 2%;
    background-size: cover;
    background-position: center;
    background-image: url(../imagens/capa.png);
}
header nav{
    float: right;
}
header nav.mobile-menu{
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../imagens/menu.png);
    background-size: 100% 100%;
}
nav.mobile-menu:hover ul{
    opacity: 1;
    display: block;
}
nav.mobile-menu ul li:hover{
    background-color: rgb(230, 230, 230);
    transition: 0.4s;
}
nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;
    display: none;
    background-color: white;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav.mobile-menu ul li{
    border-bottom: 1px solid black;
    padding: 8px 0;
}
nav.mobile-menu ul li a{
    text-decoration: none;
    color: black;
}
header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-color: #CCCCCC;
}
header nav.desktop-menu ul{
    list-style-type: none;
}
header nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}
header nav.desktop-menu li a{
    color: white;
    text-decoration: none;
}
.chamada1{
    max-width: 600px;
    float: right;
    margin: 140px 150px;
}
.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: normal;
}
.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 400px;
}
section.sessao1 .container{
    max-width: 1000px;
    height: calc(100% + 30px);
}
.texto-sessao1{
    float: left;
    width: 50%;
    color: white;
    margin-top: 60px;
    padding-left: 80px;
    position: relative;
    left: 55px;
}
.texto-sessao1 h2{
    font-size: 26px;
}
.texto-sessao1 p{
    margin-top: 20px;
    font-size: 15px;
}
.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: inside;
}
.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}
.btn1-texto{
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}
.device-sessao1{
    float: left;
    position: relative;
    top: -30px;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sessao2{
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}
.sessao2 .container{
    max-width: 1000px;
}
.sessao2 h2{
    color: #472363;
}
.sessao2 p{
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}
.sessao2 img{
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 10px;
}
.sessao3{
    width: 100%;
}
.part1{
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: #835FA7;
}
.wraper-part1{
    max-width: 600px;
    float: right;
    padding-right: 30px;
}
.part1 h2{
    font-style: italic;
    font-size: 23px;
}
.part1 p{
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
}
.part2{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
}
.sobre-autor{
    float: left;
    max-width: 600px;
    padding-left: 30px;
}
.titulo-autor{
    float: left;
    width: 100%;
}
.wraper-titulo-autor{
    float: left;
}
.titulo-autor h2{
    color: #232323;
    font-size: 21px;
    padding-right: 20px;
}
.titulo-autor p{
    font-size: 13px;
    color: #232323;
    font-style: italic;
}
.titulo-autor .img-autor{
    float: left;
    position: relative;
    top: -4px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: gray;
}
.texto-autor{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.texto-autor p{
    color: #232323;
    font-size: 15px;
}
.slider-bullets{
    width: 100%;
    float: left;
    padding-left: 30px;
    margin-top: 12px;
}
.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

@media screen and (max-width: 830px) {
    .chamada1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 170px 0;
    }
    .chamada1 h2{
        font-size: 30px;
        padding: 0 0px;
        color: white;
        font-weight: normal;
    }
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px)
{
    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    header nav.desktop-menu
    {
        display: none;
    }
    header nav.mobile-menu
    {
        display: block;
    }

    

    section.sessao1
    {
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }
    .texto-sessao1
    {
        padding-left: 0;
        width: 100%;
        margin-top: 0;
        position: static;
        float: none;
        display: inline-block;
    }
    .texto-sessao1 ul 
    {
        list-style-type: outside;
        display: inline-block;
        padding-left: 15px;
    }
    .texto-sessao1 ul li 
    {
        float: none;
        text-align: left;
    }
    .btn1-texto
    {
        display: inline-block;
    }
    .device-sessao1
    {
        display: none;
    }
    .sessao2{
        padding: 40px 2%;
    }
}